html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    text-rendering: optimizeLegibility;
}

body * {
    font-family: 'Roboto', sans-serif;
/*    display: flex;
    flex-direction: column;*/
}

h1, h2, p, li, a {
    font-weight: 300;
    color: #444;
}

p, li {
    font-size: 1em;
}


div.container {
	display: block;
	width: 370px;
	margin: 0 auto;
}

div.container h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
}

div#add-item.mdl-tabs__panel.is-active {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}

.mdl-tabs__tab-bar {
	border-bottom: none !important;
	padding-bottom: 20px !important;
}

ul#completed-tasks.mdl-list {
	text-align: center !important;
}

.mdl-button {
	height: 26px !important;
	min-width: 50px !important;
}

.mdl-tabs__tab {
	padding: 0 10px !important;
}

ul{
	margin:0;
	padding: 0;
	line-height: 100%;
}

ul#incomplete-tasks {
	margin-left: 120px;
    list-style-type: none;
}

ul#incomplete-tasks button.delete {
	display: none;
}

li {
	padding: 10px 0;
}

button.delete {
	/*display: none;*/
    background: #c2c2c2;
    border-radius: 2px;
    top: 0px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0px 10px;
    margin-left: 20px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
}


#add-item > div {
	width: 250px !important;
}

#completed-tasks span{
	text-decoration: line-through;
	font-size: 1.2em !important;
}